<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Maintenance Page</title>
  </head>
  <body>
    <h1>Be rite bak</h1>
    <p>We tryna fix stuff here</p>
    {{> footer}}
  </body>
</html>
